<section class="callback">
  <div class="callback__container base-container">
    <div class="callback__column">
      <div class="callback__column-inner">
        <h3 class="callback__title base-title">Консультация онлайн</h3>
        <span class="callback__pricetag">Стоимость: 20 000 ₽</span>
        <p class="callback__desc base-par">
          Заполните свои данные и в 
          течение часа вам позвонят и 
          договорятся о времени проведения 
          консультации
        </p>
        <form class="callback__form" action="#" method="post">
          <div class="callback__inputs">
            <div class="callback__input">
              <input class="callback__input-field" type="text" placeholder="Ваше имя">
              <svg class="callback__input-icon" width="40" height="40">
                <use href="img/icon/sprite.svg#input-name-icon"></use>
              </svg>
            </div>
            <div class="callback__input">
              <input class="callback__input-field" type="tel" placeholder="Телефон">
              <svg class="callback__input-icon" width="40" height="40">
                <use href="img/icon/sprite.svg#input-phone-icon"></use>
              </svg>
            </div>
          </div>
          <button class="callback__submit base-button" type="submit">Отправить данные</button>
          <p class="callback__datacheck base-par">
            нажимая на кнопку отправить, 
            вы подтверждаете свое согласие 
            на обработку пользовательских данных
          </p>
        </form>
      </div>
    </div>
    <figure class="callback__image base-figure">
      <div class="callback__image-inner">
        <img class="callback__img" src="img/image/design/callback-graphic.png" width="703" height="337" alt="Фото рабочего процесса">
        <div class="callback__img-overlay"></div>
      </div>
    </figure>
  </div>
</section>