<section class="consult-modal" id="consult-modal">
  <div class="consult-modal__wrapper">
    <button class="consult-modal__close-button base-button" id="consult-modal-close">
      <div class="consult-modal__close-inner"></div>
    </button>
    <div class="consult-modal__inner">
      <h2 class="consult-modal__title base-title">Заказать консультацию</h2>
      <form class="consult-modal__form" method="post">
        <input class="consult-modal__input" type="text" placeholder="Ваше имя">
        <input class="consult-modal__input" type="tel" placeholder="Телефон">
        <input class="consult-modal__input" type="email" placeholder="Email">
        <button class="consult-modal__submit base-button">
          <span class="consult-modal__submit-text">Отправить</span>
          <svg class="consult-modal__icon" width="20" height="15" alt="">
            <use href="img/icon/sprite.svg#white-arrow-icon"></use>
          </svg>
        </button>
      </form>
      <p class="consult-modal__datacheck base-par">
        Нажимая на кнопку отправить, вы подтверждаете 
        свое согласие на обработку 
        пользовательских данных
      </p>
    </div>
  </div>
</section>