<section class="projects">
  <div class="projects__container base-container">
    <div class="projects__headline">
      <h2 class="projects__title section-title base-title">Наши реализованные проекты</h2>
      <div class="projects__slider-navigation slider-navigation">
        <button class="projects__slider-button projects__slider-button--prev slider-button slider-button--prev base-button">
          <svg class="projects__slider-arrow slider__arrow-icon" width="12" height="21" alt="">
            <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
          </svg>
        </button>
        <button class="projects__slider-button projects__slider-button--next slider-button slider-button--next base-button">
          <svg class="projects__slider-arrow slider__arrow-icon" width="12" height="21" alt="">
            <use href="img/icon/sprite.svg#slider-arrow-icon"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="projects__slider swiper">
      <div class="projects__slider-wrapper swiper-wrapper">
        <div class="projects__slider-item swiper-slide">
          <a class="projects__item-glightbox glightbox" href="../img/image/content/projects-slide-1.png">
            <img class="projects__item-img" src="../img/image/content/projects-slide-1.png" alt="">
          </a>
          <div class="projects__item-overlay"></div>
          <div class="projects__item-bottomline">
            <span class="projects__bottom-title">Аналогичный проект мы можем реализовать для вас</span>
            <button class="projects__bottom-learnmore base-button">
              <span class="projects__learnmore-text">Подробнее</span>
              <svg class="projects__learnmore-icon" width="48" height="8" alt="">
                <use href="img/icon/sprite.svg#yellow-arrow-icon"></use>
              </svg>
            </button>
          </div>
          <div class="projects__item-desc">
            <span class="projects__desc-title">Аналогичный проект мы можем реализовать для вас</span>
            <span class="projects__desc-text">
              К сожалению, мы не можем выложить фотографии и 
              предоставить полное описание реализованных проектов
              в связи с тем, что мы уважаем наших клиентов и 
              предоставляем полную конфиденциальность. 
              К сожалению, мы не можем выложить фотографии 
              и предоставить полное описание реализованных 
              проектов в связи с тем, что мы уважаем наших 
              клиентов и предоставляем полную конфиденциальность.
            </span>
          </div>
        </div>
        <div class="projects__slider-item swiper-slide">
          <a class="projects__item-glightbox glightbox" href="../img/image/content/projects-slide-2.png">
            <img class="projects__item-img" src="../img/image/content/projects-slide-2.png" alt="">
          </a>
          <div class="projects__item-overlay"></div>
          <div class="projects__item-bottomline">
            <span class="projects__bottom-title">Аналогичный проект мы можем реализовать для вас</span>
            <button class="projects__bottom-learnmore base-button">
              <span class="projects__learnmore-text">Подробнее</span>
              <svg class="projects__learnmore-icon" width="48" height="8" alt="">
                <use href="img/icon/sprite.svg#yellow-arrow-icon"></use>
              </svg>
            </button>
          </div>
          <div class="projects__item-desc">
            <span class="projects__desc-title">Аналогичный проект мы можем реализовать для вас</span>
            <span class="projects__desc-text">
              К сожалению, мы не можем выложить фотографии и 
              предоставить полное описание реализованных проектов
              в связи с тем, что мы уважаем наших клиентов и 
              предоставляем полную конфиденциальность. 
              К сожалению, мы не можем выложить фотографии 
              и предоставить полное описание реализованных 
              проектов в связи с тем, что мы уважаем наших 
              клиентов и предоставляем полную конфиденциальность.
            </span>
          </div>
        </div>
        <div class="projects__slider-item swiper-slide">
          <a class="projects__item-glightbox glightbox" href="../img/image/content/projects-slide-3.png">
            <img class="projects__item-img" src="../img/image/content/projects-slide-3.png" alt="">
          </a>
          <div class="projects__item-overlay"></div>
          <div class="projects__item-bottomline">
            <span class="projects__bottom-title">Аналогичный проект мы можем реализовать для вас</span>
            <button class="projects__bottom-learnmore base-button">
              <span class="projects__learnmore-text">Подробнее</span>
              <svg class="projects__learnmore-icon" width="48" height="8" alt="">
                <use href="img/icon/sprite.svg#yellow-arrow-icon"></use>
              </svg>
            </button>
          </div>
          <div class="projects__item-desc">
            <span class="projects__desc-title">Аналогичный проект мы можем реализовать для вас</span>
            <span class="projects__desc-text">
              К сожалению, мы не можем выложить фотографии и 
              предоставить полное описание реализованных проектов
              в связи с тем, что мы уважаем наших клиентов и 
              предоставляем полную конфиденциальность. 
              К сожалению, мы не можем выложить фотографии 
              и предоставить полное описание реализованных 
              проектов в связи с тем, что мы уважаем наших 
              клиентов и предоставляем полную конфиденциальность.
            </span>
          </div>
        </div>
        <div class="projects__slider-item swiper-slide">
          <a class="projects__item-glightbox glightbox" href="../img/image/content/projects-slide-3.png">
            <img class="projects__item-img" src="../img/image/content/projects-slide-3.png" alt="">
          </a>
          <div class="projects__item-overlay"></div>
          <div class="projects__item-bottomline">
            <span class="projects__bottom-title">Аналогичный проект мы можем реализовать для вас</span>
            <button class="projects__bottom-learnmore base-button">
              <span class="projects__learnmore-text">Подробнее</span>
              <svg class="projects__learnmore-icon" width="48" height="8" alt="">
                <use href="img/icon/sprite.svg#yellow-arrow-icon"></use>
              </svg>
            </button>
          </div>
          <div class="projects__item-desc">
            <span class="projects__desc-title">Аналогичный проект мы можем реализовать для вас</span>
            <span class="projects__desc-text">
              К сожалению, мы не можем выложить фотографии и 
              предоставить полное описание реализованных проектов
              в связи с тем, что мы уважаем наших клиентов и 
              предоставляем полную конфиденциальность. 
              К сожалению, мы не можем выложить фотографии 
              и предоставить полное описание реализованных 
              проектов в связи с тем, что мы уважаем наших 
              клиентов и предоставляем полную конфиденциальность.
            </span>
          </div>
        </div>
        <div class="projects__slider-item swiper-slide">
          <a class="projects__item-glightbox glightbox" href="../img/image/content/projects-slide-3.png">
            <img class="projects__item-img" src="../img/image/content/projects-slide-3.png" alt="">
          </a>
          <div class="projects__item-overlay"></div>
          <div class="projects__item-bottomline">
            <span class="projects__bottom-title">Аналогичный проект мы можем реализовать для вас</span>
            <button class="projects__bottom-learnmore base-button">
              <span class="projects__learnmore-text">Подробнее</span>
              <svg class="projects__learnmore-icon" width="48" height="8" alt="">
                <use href="img/icon/sprite.svg#yellow-arrow-icon"></use>
              </svg>
            </button>
          </div>
          <div class="projects__item-desc">
            <span class="projects__desc-title">Аналогичный проект мы можем реализовать для вас</span>
            <span class="projects__desc-text">
              К сожалению, мы не можем выложить фотографии и 
              предоставить полное описание реализованных проектов
              в связи с тем, что мы уважаем наших клиентов и 
              предоставляем полную конфиденциальность. 
              К сожалению, мы не можем выложить фотографии 
              и предоставить полное описание реализованных 
              проектов в связи с тем, что мы уважаем наших 
              клиентов и предоставляем полную конфиденциальность.
            </span>
          </div>
        </div>
        <div class="projects__slider-item swiper-slide">
          <a class="projects__item-glightbox glightbox" href="../img/image/content/projects-slide-3.png">
            <img class="projects__item-img" src="../img/image/content/projects-slide-3.png" alt="">
          </a>
          <div class="projects__item-overlay"></div>
          <div class="projects__item-bottomline">
            <span class="projects__bottom-title">Аналогичный проект мы можем реализовать для вас</span>
            <button class="projects__bottom-learnmore base-button">
              <span class="projects__learnmore-text">Подробнее</span>
              <svg class="projects__learnmore-icon" width="48" height="8" alt="">
                <use href="img/icon/sprite.svg#yellow-arrow-icon"></use>
              </svg>
            </button>
          </div>
          <div class="projects__item-desc">
            <span class="projects__desc-title">Аналогичный проект мы можем реализовать для вас</span>
            <span class="projects__desc-text">
              К сожалению, мы не можем выложить фотографии и 
              предоставить полное описание реализованных проектов
              в связи с тем, что мы уважаем наших клиентов и 
              предоставляем полную конфиденциальность. 
              К сожалению, мы не можем выложить фотографии 
              и предоставить полное описание реализованных 
              проектов в связи с тем, что мы уважаем наших 
              клиентов и предоставляем полную конфиденциальность.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>