<section class="reviews-modal" id="reviews-modal">
  <div class="reviews-modal__wrapper">
    <button class="reviews-modal__close-button base-button" id="reviews-modal-close">
      <div class="reviews-modal__close-inner"></div>
    </button>
    <div class="reviews-modal__inner" id="reviews-modal-main">
      <h2 class="reviews-modal__title base-title">Оставить отзыв</h2>
      <form class="reviews-modal__form" id="reviews-modal-form"r>
        <div class="reviews-modal__form-inner">
          <div class="reviews-modal__form-column">
            <input class="reviews-modal__form-input" type="text" placeholder="ФИО">
            <input class="reviews-modal__form-input" type="email" placeholder="Email">
            <input class="reviews-modal__form-input" type="text" placeholder="Организация">
            <input class="reviews-modal__file-input visually-hidden" type="file" id="reviews-modal-file-input" accept=".jpg,.jpeg,.png" tabindex="-1">
            <button class="reviews-modal__file-loader base-button" type="button" id="reviews-modal-file-button">Добавить фото</button>
          </div>
          <textarea class="reviews-modal__form-column reviews-modal__form-textarea" placeholder="Напишите отзыв"></textarea>
        </div>
        <div class="reviews-modal__form-underline">
          <span class="reviews-modal__form-desc">
            Нажимая на кнопку отправить, вы подтверждаете 
            свое согласие на обработку пользовательских данных
          </span>
          <button class="reviews-modal__form-submit base-button" type="submit">
            <span class="reviews-modal__submit-text">Отправить</span>
            <svg class="reviews-modal__submit-icon" width="18" height="15" alt="">
              <use href="img/icon/sprite.svg#white-arrow-icon"></use>
            </svg>
          </button>
        </div>
      </form>
    </div>
    <div class="reviews-modal__success" id="reviews-modal-success">
      <h2 class="reviews-modal__success-title base-title">Спасибо, ваш отзыв отправлен!</h2>
      <p class="reviews__success-text base-par">
        После проверки модератором,<br>
        отзыв появится в общей ленте.
      </p>
    </div>
  </div>
</section>