<div class="features">
  <div class="features__item">
    <div class="features__graphic">
      <div class="features__graphic-line"></div>
      <div class="features__graphic-line"></div>
    </div>
    <div class="features__item-info">
      <span class="features__item-title">12 лет</span>
      <span class="features__item-desc">в сфере управления<br> проектами</span>
    </div>
  </div>
  <div class="features__item">
    <div class="features__graphic">
      <div class="features__graphic-line"></div>
      <div class="features__graphic-line"></div>
    </div>
    <div class="features__item-info">
      <span class="features__item-title">30 +</span>
      <span class="features__item-desc">реализованных<br> проектов</span>
    </div>
  </div>
  <div class="features__item">
    <div class="features__graphic">
      <div class="features__graphic-line"></div>
      <div class="features__graphic-line"></div>
    </div>
    <div class="features__item-info">
      <span class="features__item-title">до 40%</span>
      <span class="features__item-desc">экономия времени<br> клиента</span>
    </div>
  </div>
  <div class="features__item">
    <div class="features__graphic">
      <div class="features__graphic-line"></div>
      <div class="features__graphic-line"></div>
    </div>
    <div class="features__item-info">
      <span class="features__item-title">975</span>
      <span class="features__item-desc">обращений к нам за<br> консультацией</span>
    </div>
  </div>
</div>