@use "../mixins";

.about {

  margin-top: 60px;

  &__container {
    display: grid;

    @include mixins.respond-to(mobileOnly) {
      grid-template: repeat(2, auto) / auto;
      grid-column-gap: 0;
      grid-row-gap: 30px;
      align-items: start;
      justify-items: center;
    }

    @include mixins.respond-to(tabletOnly) {
      grid-template: repeat(2, auto) / auto;
      grid-column-gap: 0;
      grid-row-gap: 30px;
      align-items: start;
      justify-items: center;
    }

    @include mixins.respond-to(desktopS) {
      grid-template: 1fr /repeat(2, auto);
      grid-column-gap: 10px;
      align-items: center;
      justify-content: space-between;
    }

    @include mixins.respond-to(desktopM) {
      grid-column-gap: 75px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    order: 1;

    @include mixins.respond-to(mobileOnly) {
      order: 2;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 2;
    }
  }

  &__title {
    margin-bottom: 30px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-mine-shaft);

    margin-bottom: 35px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 15px;
    }

    @include mixins.respond-to(tabletOnly) {
      margin-bottom: 15px;
    }
  }

  &__learnmore {
    position: relative;

    display: flex;
    align-items: center;

    width: fit-content;

    overflow: hidden;

    padding-bottom: 5px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;

      width: 100%;
      height: 2px;
      background-color: var(--color-buttercup);

      transition: 0.3s;
    }

    &:hover::before {
      left: 0;

      transition: all 0.3s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__learnmore-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    color: var(--color-mine-shaft);

    margin-right: 35px;
  }

  &__video-container {
    position: relative;

    display: block;

    overflow: hidden;
    user-select: none;

    @include mixins.respond-to(mobileOnly) {
      order: 1;

      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 1;

      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(desktopS) {
      order: 2;

      width: 400px;
      height: auto;
    }

    @include mixins.respond-to(desktopM) {
      width: 656px;
      height: 329px;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__graphic {
    position: absolute;
    top: 5px;
    left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      top: 50%;
      left: 50%;

      width: 50px;
      height: 50px;

      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__graphic-icon {
    fill: var(--color-buttercup);

    @include mixins.respond-to(mobileOnly) {
      width: 20px;
      height: 20px;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0.5, 0.5);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: scale(3, 3);
      opacity: 0;
    }
  }

  &__graphic-pulsing {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 350px;

    margin: auto;

    @include mixins.respond-to(mobileOnly) {
      width: 95px;
      height: 95px;
    }
  }

  &__pulsing-ring {
    position: absolute;

    width: 132px;
    height: 132px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    opacity: 0;

    -webkit-animation: pulse 3000ms ease-out infinite;
    animation: pulse 3000ms ease-out infinite;

    &:nth-of-type(2) {
      animation-delay: 600ms;
    }

    &:nth-of-type(3) {
      animation-delay: 1200ms;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 50%;
      height: 50%;
    }
  }

  &__video-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}