@use "../mixins";

.certis {
  position: relative;

  @include mixins.respond-to(mobileOnly) {
    margin: 60px 0 60px 0;
  }

  @include mixins.respond-to(tablet) {
    margin: 60px 0 60px 0;
  }

  @include mixins.respond-to(desktopM) {
    margin: 90px 0 90px 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 45px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      margin-bottom: 20px;
    }
  }

  &__title {
    @include mixins.respond-to(mobileOnly) {
      text-align: center;
    }
  }

  &__slider-navigation {
    @include mixins.respond-to(mobileOnly) {
      top: 65% !important;
    }
  }

  &__slider {
    padding: 10px;
    margin: -10px;
  }

  &__slider-item {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 410px;
    max-width: 410px;
    height: 470px;
    background-color: var(--color-white);
    border: 1px solid #D5D7DA;
    border-radius: 20px;
    cursor: default;

    transition: 0.3s;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;

      padding: 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      max-width: 100%;

      padding: 10px;
    }

    @include mixins.respond-to(desktopS) {
      padding: 10px;
    }

    @include mixins.respond-to(desktopD) {
      padding: 40px 70px;
    }
  }

  &__slider-img {
    display: block;

    width: 274px;
    height: 386px;
    object-fit: cover;
    cursor: pointer;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;
    }
  }
}