@use "../mixins";

.clients {
  position: relative;

  @include mixins.respond-to(mobileOnly) {
    margin-bottom: 60px;
  }

  @include mixins.respond-to(tablet) {
    margin-bottom: 60px;
  }

  @include mixins.respond-to(desktopM) {
    margin-bottom: 130px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__headline {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 45px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      margin-bottom: 20px;
    }
  }

  &__title {
    @include mixins.respond-to(mobileOnly) {
      text-align: center;
    }
  }

  &__slider-navigation {
    @include mixins.respond-to(mobileOnly) {
      top: 65% !important;
    }
  }

  &__slider {
    padding: 10px;
    margin: -10px;
  }

  &__slider-item {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    width: 300px;
    max-width: 300px;
    height: 180px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 15.5786px rgba(0, 0, 0, 0.07);
    cursor: default;

    transition: 0.3s;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__slider-img {
    display: block;

    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
  }
}