@use "../mixins";

.clients {

  padding: 45px 0 45px 0;

  @include mixins.respond-to(mobileOnly) {
    margin-top: 60px;
  }

  @include mixins.respond-to(tabletOnly) {
    margin-top: 60px;
  }

  @include mixins.respond-to(desktopS) {
    margin-top: 60px;
  }

  @include mixins.respond-to(desktopD) {
    margin-top: 90px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__headline {
    position: relative;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 45px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
    }
  }

  &__title {
    @include mixins.respond-to(mobileOnly) {
      text-align: center;
    }
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 424px) {
    &__slider-navigation {
      top: 80% !important;
    }
  }

  @media only screen
  and (min-device-width: 425px)
  and (max-device-width: 520px) {
    &__slider-navigation {
      top: 150% !important;
    }
  }

  &__slider {
    margin: 0 -10px 25px -10px;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 5% 25px 5%;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 5% 25px 5%;
    }
  }
}