@use "../mixins";

.engine-inner {

  &__top {
    margin-bottom: 80px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 60px;
    }

    @include mixins.respond-to(tabletOnly) {
      margin-bottom: 60px;
    }
  }

  &__top,
  .engine-inner__bottom {
    display: flex;
    align-items: flex-end;

    box-sizing: border-box;
    min-height: 700px;
    background: url("../img/image/design/engine-tabs-blocks-background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    padding: 60px 0 120px 0;

    @include mixins.respond-to(mobileOnly) {
      padding: 20px 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      padding: 20px 0 20px 0;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1599px) {

    &__top,
    .engine-inner__bottom {
      padding: 20px 0 20px 0;
    }
  }

  &__top-container,
  .engine-inner__bottom-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: center;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1599px) {

    &__top-container,
    .engine-inner__bottom-container {
      align-items: center;
    }
  }

  &__middle {
    margin-bottom: 90px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 60px;
    }

    @include mixins.respond-to(tabletOnly) {
      margin-bottom: 60px;
    }
  }

  &__middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__middle-column {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: 100%;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }
  }

  &__middle-column--1 {
    order: 1;

    margin: 0 0 60px 0;

    @include mixins.respond-to(mobileOnly) {
      order: 2;

      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 2;
      align-items: flex-start;
    }
  }

  &__middle-column--2 {
    order: 2;

    @include mixins.respond-to(mobileOnly) {
      order: 1;

      margin-bottom: 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 1;

      margin-bottom: 20px;
    }
  }

  &__middle-item-1 {
    margin: 0 80px 0 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 10px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 20px 0 0;
    }
  }

  &__middle-item-3 {
    margin: 0 60px 0 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 10px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 20px 0 0;
    }
  }

  &__middle-img {
    @include mixins.respond-to(mobileOnly) {
      display: block;

      width: 100%;
      height: auto;
    }
  }

  &__bottom {
    margin-bottom: 85px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 60px;
    }

    @include mixins.respond-to(tabletOnly) {
      margin-bottom: 60px;
    }
  }

  &__top-info,
  .engine-inner__bottom-info {
    margin-right: 20px;
  }

  &__top-info,
  .engine-inner__middle-info,
  .engine-inner__bottom-info {
    display: flex;
    flex-direction: column;
  }

  &__top-info,
  .engine-inner__bottom-info {
    order: 1;

    @include mixins.respond-to(mobileOnly) {
      order: 2;

      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 2;

      margin: 0;
    }
  }

  &__top-image,
  .engine-inner__bottom-image {
    order: 2;

    border-radius: 20px;

    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);

      transition: all 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      order: 1;

      margin-bottom: 20px;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 1;

      margin-bottom: 20px;
    }
  }

  &__top-img,
  .engine-inner__bottom-img {
    border-radius: 20px;
    object-fit: cover;
    user-select: none;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      max-width: 100%;
    }
  }

  &__middle-image {
    border-radius: 20px;

    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);

      transition: all 0.3s;
    }
  }

  &__middle-img {
    border-radius: 20px;
    object-fit: cover;
    user-select: none;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      max-width: 100%;
    }
  }

  @media only screen and (min-device-width: 1024px) and (max-device-width: 1599px) {
    &__middle-img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__top-info-text h2 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    color: var(--color-mine-shaft);

    margin: 0 0 60px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
      line-height: 130%;

      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__top-info-text p {
    display: inline-block;

    max-width: 685px;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-mine-shaft);

    margin: 0 0 40px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__middle-info-text h2 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    color: var(--color-mine-shaft);

    margin: 0 0 60px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
      line-height: 130%;

      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__middle-info-text p {
    display: inline-block;

    max-width: 685px;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-mine-shaft);

    margin: 0 0 40px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__bottom-info-text h2 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    color: var(--color-mine-shaft);

    margin-bottom: 60px;

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
      line-height: 130%;

      margin-bottom: 20px;
    }

    @include mixins.respond-to(tabletOnly) {
      margin-bottom: 20px;
    }
  }

  &__bottom-info-text p {
    display: inline-block;

    max-width: 685px;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-mine-shaft);

    margin: 0 0 40px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__top-number,
  .engine-inner__middle-number,
  .engine-inner__bottom-number {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-mine-shaft);
  }

  &__consult-button {
    width: 300px;

    margin-top: 55px;

    @include mixins.respond-to(mobileOnly) {
      width: 280px;

      margin-top: 30px;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 280px;

      margin-top: 30px;
    }
  }

  &__service-info {
    margin-bottom: 115px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 60px;
    }

    @include mixins.respond-to(tabletOnly) {
      margin-bottom: 60px;
    }
  }

  &__service-container h2 {
    font-size: 40px;
    line-height: 47px;
    font-weight: 700;
    color: var(--color-mine-shaft);

    margin: 0 0 60px 0;

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
      line-height: 130%;

      margin: 0 0 20px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;
    }
  }

  &__service-container p {
    display: inline-block;

    max-width: calc(100% - 200px);

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--color-mine-shaft);

    margin: 0;

    @include mixins.respond-to(mobileOnly) {
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      max-width: 100%;
    }
  }
}