@use "../mixins";

.features {
  background: linear-gradient(160.58deg, #FFDC5E 15.73%, #F6BB1A 88.93%);
  border-radius: 25px;

  z-index: 2;

  @include mixins.respond-to(mobileOnly) {
    display: flex;

    width: 100%;
    height: auto;
    border-radius: 0;
    overflow-x: auto;

    padding: 10px;
  }

  @include mixins.respond-to(tablet) {
    grid-template: 1fr / repeat(4, auto);
    grid-gap: 15px;
    justify-items: center;
    
    width: 90%;
    height: auto;

    padding: 20px 10px 20px 10px;
    margin: 0 auto;
  }

  @include mixins.respond-to(desktopS) {
    display: grid;
  }

  @include mixins.respond-to(desktopD) {
    grid-template: 1fr / repeat(4, 1fr);
    grid-gap: 70px;
    align-items: center;
  
    width: 1200px;
    height: 120px;

    padding: 0 75px 0 75px;
  }

  &__item {
    display: flex;
    align-items: flex-end;

    @include mixins.respond-to(mobileOnly) {
      align-items: center;
      justify-content: center;

      min-width: 100%;
      max-width: 100%;
    }
  }

  &__graphic {
    position: relative;

    width: 13px;
    height: 13px;
    user-select: none;

    margin: 0 17px 25px 0;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 15px 0 0;
    }
  }

  &__graphic-line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 13px;
    height: 3px;
    background: linear-gradient(160.58deg, #FA7070 15.73%, #9C0B0B 88.93%);

    &:nth-child(2) {
      transform: translateY(-50%) rotate(90deg);
    }
  }

  &__item-info {
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    user-select: none;

    font-weight: 700;
    color: var(--color-black);

    @include mixins.respond-to(tablet) {
      font-size: 20px;
      line-height: 1.25;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 25px;
      line-height: 37px;
    }
  }

  &__item-desc {
    user-select: none;

    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-mako);

    @include mixins.respond-to(tablet) {
      font-size: 12px;
      line-height: 1.25;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 14px;
      line-height: 21px;
    }
  }
}