@use "../mixins";

.footer-feedback {
  background-image: url("../img/image/design/footer-feedback-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;
    justify-content: flex-start;

    padding: 48px 0 50px 0;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: center;

      padding: 60px 0 50px 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    box-sizing: content-box;
    max-width: 360px;

    padding: 30px 0 0 60px;
    margin-right: 85px;

    @include mixins.respond-to(mobileOnly) {
      align-items: center;

      text-align: center;

      padding: 0;
      margin: 0;
    }
  }

  &__question {
    position: relative;

    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
    color: var(--color-black);

    margin-bottom: 6px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      width: 48px;
      height: 89px;

      background-image: url('../img/image/design/footer-feedback-question-graphic.svg');
      background-size: 48px 89px;
      background-position: center;
      background-repeat: no-repeat;
    }

    @include mixins.respond-to(mobileOnly) {
      display: inline-block;

      width: fit-content;

      font-size: 25px;
      line-height: 1;

      padding-right: 30px;
      margin-bottom: 10px;

      &::after {
        width: 20px;
        height: 40px;

        background-image: url('../img/image/design/footer-feedback-question-graphic.svg');
        background-size: 20px 40px;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  &__answer {
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: var(--color-white);

    margin-bottom: 20px;

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
      line-height: 1.25;

      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-white);
  }

  &__form {
    display: flex;
    flex-direction: column;

    padding-top: 25px;
  }

  &__form-fields {
    display: flex;
    align-items: stretch;

    margin-bottom: 20px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      margin-bottom: 30px;
    }
  }

  &__form-column {
    display: flex;
    flex-direction: column;

    margin-right: 10px;

    &:last-child {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__form-input {
    width: 310px;
    height: 55px;
    background: var(--color-white);
    border: 1px solid var(--color-mercury);
    border-radius: 5px;

    font-family: var(--font-family-default) !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-gray);

    transition: 0.3s;

    padding-left: 20px;
    margin-bottom: 10px;

    &:last-of-type {
      margin: 0;
    }

    &:focus {
      border: none;
      outline: 5px solid var(--color-pomegranate);

      transition: all 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      font-size: 16px;

      margin-bottom: 20px;
    }
  }

  &__form-textarea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 320px;
    height: 100%;
    background-color: var(--color-white);
    resize: none;
    border: 1px solid var(--color-mercury);
    border-radius: 5px;

    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-gray);

    transition: 0.3s;
    
    padding: 20px 10px 10px 20px;

    &:focus {
      border: none;
      outline: 5px solid var(--color-pomegranate);

      transition: all 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 150px;

      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__form-bottomline {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }
  }

  &__form-desc {
    order: 1;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      order: 2;

      text-align: center  ;
    }
  }

  &__form-submit {
    order: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 175px;
    height: 50px;
    background-color: var(--color-black);
    border-radius: 61px;
    cursor: pointer;

    transition: 0.3s;

    &:hover {
      background-color: var(--color-god-gray);

      transition: all 0.3s;
    }

    &:active {
      background-color: var(--color-mine-shaft);

      transition: all 0.3s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      order: 1;

      margin-bottom: 10px;
    }
  }

  &__submit-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);

    margin-right: 10px;
  }
}