@use "../mixins";

.footer-main {
  background-color: var(--color-shark);

  &__container {
    display: grid;

    @include mixins.respond-to(mobileOnly) {
      grid-template: repeat(3, min-content) / 1fr;

      width: 90%;

      padding: 50px 0 50px 0;
      margin: 0 auto;    
    }

    @include mixins.respond-to(tabletOnly) {
      grid-template: repeat(3, min-content) / 1fr;

      width: 90%;

      padding: 50px 0 50px 0;
      margin: 0 auto;
    }

    @include mixins.respond-to(desktopS) {
      grid-template: 1fr / repeat(3, min-content);
      justify-content: space-between;

      width: 90%;

      padding: 56px 0 60px 0;
      margin: 0 auto;
    }
  }

  @media(min-width: '1900px') {
    &__container {
      grid-template: 1fr / repeat(3, min-content);
      align-items: start;
      justify-items: start;
      
      width: 71.5%;

      padding: 56px 0 60px 0;
      margin: 0 auto;
    }
  }

  &__column {

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(desktopS) {
      margin: 0;
    }

    @include mixins.respond-to(desktopM) {
      margin-right: 105px;
    }
  }

  &__logo-block {
    margin-bottom: 45px;

    @include mixins.respond-to(mobileOnly) {
      margin-bottom: 20px;
    }

    @include mixins.respond-to(tabletOnly) {
      margin-bottom: 20px;
    }
  }

  & .consult-button {
    width: 240px;
  }

  &__bread-block {
    display: flex;
    align-items: flex-start;

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      
      margin: 0 0 30px 0;
    }

    @include mixins.respond-to(desktopS) {
      flex-direction: column;

      margin: 0;
    }

    @include mixins.respond-to(desktopD) {
      flex-direction: row;
    }

    @include mixins.respond-to(desktopM) {
      flex-direction: row;

      margin-right: 50px;
    }

    @include mixins.respond-to(desktopL) {
      flex-direction: row;

      margin-right: 70px;
    }
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 374px) {
    &__bread-block {
      flex-direction: column;
    }
  }

  &__engine-bread {
    display: flex;
    flex-direction: column;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;

      margin: 0;
    }

    @include mixins.respond-to(desktopS) {
      width: 210px;

      margin-bottom: 20px;
    }

    @include mixins.respond-to(desktopD) {
      margin: 0 20px 0 0;
    }

    @include mixins.respond-to(desktopM) {
      margin: 0 30px 0 0;
    }

    @include mixins.respond-to(desktopL) {
      margin: 0 80px 0 0;
    }
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 374px) {
    &__engine-bread {
      margin-bottom: 20px;
    }
  }

  @media only screen
  and (min-device-width: 375px)
  and (max-device-width: 767px) {
    &__bread-block {
      width: 100%;
      justify-content: space-between;
    }

    &__engine-bread {
      margin-right: 10px;
    }
  }

  &__consult-bread {
    display: flex;
    flex-direction: column;

    @include mixins.respond-to(mobileOnly) {
      width: 100%; 
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%; 
    }

    @include mixins.respond-to(desktopS) {
      width: 210px;
    }
  }

  &__bread-title {
    display: inline-block;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);

    margin-bottom: 12px;
  }

  &__bread-list {
    display: flex;
    flex-direction: column;
  }

  &__bread-item {
    margin-bottom: 12px;
    
    &:Last-child {
      margin: 0;
    }
  }

  &__bread-link {
    position: relative;

    display: inline-block;
    overflow: hidden;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);

    padding-bottom: 5px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;

      width: 100%;
      height: 2px;
      background-color: var(--color-buttercup);

      transition: 0.3s;
    }

    &:hover::before {
      left: 0;

      transition: all 0.3s;
    }

    &:active {
      color: var(--color-buttercup);

      transition: all 0.3s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    width: 370px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%; 
      max-width: 100%;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%; 
      max-width: 100%;
    }
  }

  &__contacts-address {
    position: relative;

    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--color-white);

    padding-left: 30px;
    margin-bottom: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;

      width: 18px;
      height: 22px;
      background: url('../../img/image/design/pointer.svg');
      background-size: 18px 22px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__contacts-timing {
    font-weight: 700;
    font-size: 16px;
    line-height: 14px;
    color: var(--color-white);

    padding-left: 30px;
    margin-bottom: 25px;
  }

  &__contacts-socials {
    display: flex;
    flex-direction: column;

    padding-left: 30px;
  }

  &__socials-item {
    margin-bottom: 18px;

    &:last-child {
      margin: 0;
    }
  }

  &__socials-link {
    position: relative;

    display: inline-block;
    overflow: hidden;

    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-white);

    padding: 0 0 5px 30px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;

      width: 100%;
      height: 2px;
      background-color: var(--color-buttercup);

      transition: 0.3s;
    }

    &:hover::after {
      left: 0;

      transition: all 0.3s;
    }

    &:active {
      color: var(--color-buttercup);

      transition: all 0.3s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__email-link {
    &::before {
      width: 20px;
      height: 12px;
      background: url('../img/image/design/email.svg');
      background-size: 20px 12px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__tel-link {
    &::before {
      width: 18px;
      height: 15px;
      background: url('../img/image/design/phone.svg');
      background-size: 18px 15px;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}