@use "../mixins";

.footer-feedback {
  background-image: url("../img/image/design/footer-feedback-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  &__container {
    display: flex;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
      align-items: center;

      padding: 60px 0 50px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
      align-items: center;

      padding: 60px 0 50px 0;
    }

    @include mixins.respond-to(desktopS) {
      align-items: center;

      padding: 20px 0 20px 0;
    }

    @include mixins.respond-to(desktopD) {
      justify-content: center;
    }
  }

  @media(min-width: 1900px) {
    &__container {
      align-items: initial;
      justify-content: flex-start;

      padding: 48px 0 50px 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    box-sizing: content-box;
    max-width: 360px;

    @include mixins.respond-to(mobileOnly) {
      align-items: center;

      text-align: center;

      padding: 0;
      margin: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      align-items: center;

      text-align: center;

      padding: 0;
      margin: 0;
    }

    @include mixins.respond-to(desktopS) {
      padding: 0;
    }

    @include mixins.respond-to(desktopM) {
      padding: 0 0 0 60px;
      margin: 0 85px 0 0;
    }
  }

  &__question {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-bottom: 10px;

    @include mixins.respond-to(mobileOnly) {
      min-width: auto;
    }

    @include mixins.respond-to(tabletOnly) {
      min-width: auto;
    }

    @include mixins.respond-to(desktopS) {
      justify-content: flex-start;

      min-width: auto;
    }

    @include mixins.respond-to(desktopM) {
      min-width: 380px;
    }
  }

  &__question-text {
    font-weight: 700;
    color: var(--color-black);

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
      line-height: 1.25;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 25px;
      line-height: 1.25;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 25px;
      line-height: 1.25;
    }

    @include mixins.respond-to(desktopM) {
      font-size: 35px;
      line-height: 47px;
    }
  }

  &__question-graphic {
    display: inline-block;

    width: 60px;
    height: 90px;
    background: url("../img/image/design/footer-feedback-question-graphic.svg");
    background-position: center;
    background-size: 50px 90px;
    background-repeat: no-repeat;
  }

  &__answer {
    font-weight: 400;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;
      line-height: 1.25;

      margin-bottom: 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 25px;
      line-height: 1.25;

      margin-bottom: 10px;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 25px;
      line-height: 1.25;

      margin-bottom: 10px;
    }

    @include mixins.respond-to(desktopM) {
      font-size: 35px;
      line-height: 42px;
  
      margin-bottom: 20px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-white);
  }

  &__form {
    display: flex;
    flex-direction: column;

    max-width: 642px;

    padding-top: 25px;
  }

  &__form-fields {
    display: flex;
    align-items: stretch;

    margin-bottom: 20px;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      margin-bottom: 30px;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;

      margin-bottom: 30px;
    }
  }

  &__form-column {
    display: flex;
    flex-direction: column;

    margin-right: 10px;

    &:last-child {
      margin: 0;
    }

    @include mixins.respond-to(mobileOnly) {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__form-input {
    height: 55px;
    background: var(--color-white);
    border: 1px solid var(--color-mercury);
    border-radius: 5px;

    font-family: var(--font-family-default) !important;
    font-weight: 400;
    color: var(--color-black);

    padding-left: 20px;
    margin-bottom: 10px;

    &:last-of-type {
      margin: 0;
    }

    &:hover {
      outline: 2px solid var(--color-mine-shaft);
    }

    &:focus {
      outline: 2px solid var(--color-mine-shaft);
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      font-size: 16px;

      margin-bottom: 20px;

      &:last-of-type {
        margin: 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;

      font-size: 16px;

      margin-bottom: 20px;

      &:last-of-type {
        margin: 0;
      }
    }

    @include mixins.respond-to(desktopS) {
      width: 210px;
      
      font-size: 20px;
      line-height: 30px;
    }

    @include mixins.respond-to(desktopD) {
      width: 310px;
    }
  }

  &__form-textarea {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    width: 320px;
    height: 100%;
    background-color: var(--color-white);
    resize: none;
    border: 1px solid var(--color-mercury);
    border-radius: 5px;

    font-family: var(--font-family-default) !important;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-black);
    
    padding: 20px 10px 10px 20px;

    &:hover {
      outline: 2px solid var(--color-mine-shaft);
    }

    &:focus {
      outline: 2px solid var(--color-mine-shaft);
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: 150px;

      font-size: 16px;
      line-height: 1.25;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: 150px;

      font-size: 16px;
      line-height: 1.25;
    }
  }

  &__form-bottomline {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
    }
  }

  &__form-desc {
    order: 1;

    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      order: 2;

      text-align: center;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 2;

      text-align: center;
    }

    @include mixins.respond-to(desktopS) {
      margin-right: 50px;
    }
  }

  &__form-submit {
    order: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 175px;
    height: 50px;
    background-color: var(--color-black);
    border-radius: 61px;
    cursor: pointer;

    transition: 0.3s;

    padding: 15px 25px 15px 40px;

    &:hover {
      background-color: var(--color-mine-shaft);

      transition: all 0.3s;
    }

    &:active {
      background-color: var(--color-tundora);

      transition: all 0.3s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      order: 1;

      margin-bottom: 10px;
    }

    @include mixins.respond-to(tabletOnly) {
      order: 1;

      margin-bottom: 10px;
    }
  }

  &__submit-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);

    margin-right: 10px;
  }
}