@use "../mixins";

.heading {
  position: relative;

  height: 860px;

  @include mixins.respond-to(mobileOnly) {
    height: 100vh;

    min-height: 500px;
  }

  &__slider {
    width: 100%;
    height: 100%;
  }

  &__slider-item {
    @include mixins.respond-to(mobileOnly) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    margin-top: calc(155px + 80px);

    @include mixins.respond-to(mobileOnly) {
      width: 90%;

      margin: 0 auto;
    }
  }

  &__info-title {
    font-weight: 400;
    font-size: 37px;
    line-height: 160%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--color-white);

    margin-bottom: 30px;

    @include mixins.respond-to(mobileOnly) {
      font-size: 25px;

      margin-bottom: 30px;
    }
  }

  &__info-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--color-white);

    margin-bottom: 55px;

    @include mixins.respond-to(mobileOnly) {
      font-size: 18px;

      margin-bottom: 30px;
    }
  }

  &__info-button {
    width: 270px;
    height: 50px;

    background: linear-gradient(160.58deg, #FFDC5E 15.73%, #F6BB1A 88.93%);
    border-radius: 70px;
    cursor: pointer;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-mine-shaft);

    transition: 0.3s;

    &:hover {
      box-shadow: 0 0 0 5px var(--color-corn-harvest);

      transition: all 0.3s;
    }

    &:active {
      box-shadow: 0 0 0 5px var(--color-marigold-yellow);

      transition: all 0.3s;
    }

    &:focus-visible {
      outline: 3px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__features {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);

    z-index: 5;

    @include mixins.respond-to(mobileOnly) {
      display: none !important;
    }
  }
}

.heading__slider-pagination {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  right: 50px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  z-index: 4 !important;

  @include mixins.respond-to(mobileOnly) {
    bottom: 10px !important;
    top: auto !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
    right: auto;

    flex-direction: row !important;
  }
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background-color: var(--color-white) !important;
  border-radius: 50% !important;
  opacity: 1 !important;

  transition: 0.3s;

  @include mixins.respond-to(mobileOnly) {
    margin-right: 15px !important;

    &:last-child {
      margin-right: 0 !important;
    }
  }
}

.swiper-pagination-bullet-active {
  width: 17px !important;
  height: 17px !important;
  background: linear-gradient(160.58deg, #FFDC5E 15.73%, #F6BB1A 88.93%) !important;

  transition: all 0.3s;
}