@use "../mixins";

@keyframes burger_before_default {
  from {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  50% {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  to {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes burger_before {
  from {
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  50% {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
}

@keyframes burger_after_default {
  from {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
  }

  50% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  to {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@keyframes burger_after {
  from {
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
  }

  50% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  100% {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
  }
}

.main-nav {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: 80px;
  border-bottom: 2px solid var(--color-dove-gray);

  padding: 23px 0 10px 0;

  z-index: 5;

  &__container {
    position: relative;

    display: flex;
    align-items: center;

    @include mixins.respond-to(mobileOnly) {
      justify-content: space-between;
    }

    @include mixins.respond-to(tabletOnly) {
      justify-content: space-between;
    }
  }

  &__logo-block {
    z-index: 5;

    @include mixins.respond-to(mobileOnly) {
      margin-right: 0;
    }

    @include mixins.respond-to(desktopS) {
      margin-right: 20px;
    }

    @include mixins.respond-to(desktopD) {
      margin-right: 30px;
    }

    @include mixins.respond-to(desktopM) {
      margin-right: 50px;
    }
  }

  &__logo-img {
    vertical-align: top;
  }

  &__mobile-menu {
    position: relative;
    top: auto;
    left: auto;

    width: 100%;

    z-index: 5;

    @include mixins.respond-to(mobileOnly) {
      position: fixed;
      top: 80px;
      left: -100%;

      flex-direction: column;

      width: 100%;
      height: calc(100% - 80px);
      background-color: var(--color-buttercup);

      transition: 0.3s;
    }

    @include mixins.respond-to(tabletOnly) {
      position: fixed;
      top: 80px;
      left: -100%;

      flex-direction: column;

      width: 100%;
      height: calc(100% - 80px);
      background-color: var(--color-buttercup);

      transition: 0.3s;
    }
  }

  &__mobile-menu--active {
    left: 0;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;

    transition: all 0.3s;
  }

  &__mobile-inner {
    display: flex;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      padding: 40px 0 0 5%;
      margin: auto;
    }
    
    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;

      padding: 40px 0 0 5%;
      margin: auto;
    }
  }

  &__nav-list {
    display: flex;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;

      margin: 0 0 40px 0;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;

      margin: 0 0 40px 0;
    }

    @include mixins.respond-to(desktopS) {
      align-items: center;
    }
  }

  &__nav-item {

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;

      margin: 0 0 20px 0;

      &:last-child {
        margin: 0;
      }
    }

    @include mixins.respond-to(desktopS) {
      margin: 0 20px 0 0;

      &:last-child {
        margin: 0;
      }
    }

    @include mixins.respond-to(desktopD) {
      margin: 0 30px 0 0;

      &:last-child {
        margin: 0;
      }
    }

    @include mixins.respond-to(desktopM) {
      margin: 0 45px 0 0;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__nav-link {
    position: relative;

    display: block;
    overflow: hidden;

    font-weight: 400;
    color: var(--color-white);

    padding-bottom: 5px;

    @include mixins.respond-to(mobileOnly) {
      display: inline-block;

      width: 100%;

      font-size: 18px;

      color: var(--color-mine-shaft);

      padding-bottom: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      display: inline-block;

      width: 100%;

      font-size: 18px;

      color: var(--color-mine-shaft);

      padding-bottom: 0;
    }

    @include mixins.respond-to(desktopS) {
      font-size: 11px;
      line-height: 1.25;
    }

    @include mixins.respond-to(desktopD) {
      font-size: 14px;
    }

    @include mixins.respond-to(desktopM) {
      font-size: 16px;
      line-height: 24px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;

      width: 100%;
      height: 2px;
      background-color: var(--color-buttercup);

      transition: 0.3s;
    }

    &:hover::before {
      left: 0;
      transition: all 0.3s;
    }

    &:active {
      color: var(--color-buttercup);

      transition: all 0.1s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__tel-link {
    position: relative;

    display: flex;
    align-items: center;

    overflow: hidden;

    padding-bottom: 5px;
    margin-left: auto;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -100%;

      width: 100%;
      height: 2px;
      background-color: var(--color-buttercup);

      transition: 0.3s;
    }

    &:hover::before {
      left: 0;

      transition: all 0.3s;
    }

    &:active .main-nav__tel-text {
      color: var(--color-buttercup);

      transition: all 0.1s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;

      padding-bottom: 0;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;

      padding-bottom: 0;
    }
  }

  &__tel-icon {
    fill: var(--color-buttercup);

    margin-right: 15px;

    @include mixins.respond-to(mobileOnly) {
      fill: var(--color-mine-shaft);
    }

    @include mixins.respond-to(tabletOnly) {
      fill: var(--color-mine-shaft);
    }
  }

  &__tel-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-white);

    transition: 0.3s;

    @include mixins.respond-to(mobileOnly) {
      font-size: 18px;

      color: var(--color-mine-shaft);
    }

    @include mixins.respond-to(tabletOnly) {
      font-size: 18px;

      color: var(--color-mine-shaft);
    }
  }

  &__burger {
    display: none;
    align-items: center;
    justify-content: center;

    height: 45px;
    width: 45px;
    border: 1px solid var(--color-white);
    cursor: pointer;

    transition: 0.3s;

    z-index: 5;

    @include mixins.respond-to(mobileOnly) {
      display: flex;
    }

    @include mixins.respond-to(tabletOnly) {
      display: flex;
    }
  }

  &__burger-line {
    position: relative;

    width: 27px;
    height: 2px;
    background-color: var(--color-white);

    transition: 0.3s;

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      left: 50%;
      transform: translateX(-50%);

      width: 27px;
      height: 2px;
      background-color: var(--color-white);

      animation-duration: 0.3s;
      animation-name: burger_before_default;
      animation-fill-mode: forwards;

      transition: all 0.3s;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);

      width: 27px;
      height: 2px;
      background-color: var(--color-white);

      animation-duration: 0.3s;
      animation-name: burger_after_default;
      animation-fill-mode: forwards;

      transition: all 0.3s;
    }
  }

  &__burger--active .main-nav__burger-line::before {
    animation-duration: 0.3s;
    animation-name: burger_before;
    animation-fill-mode: forwards;
  }

  &__burger--active .main-nav__burger-line::after {
    animation-duration: 0.3s;
    animation-name: burger_after;
    animation-fill-mode: forwards;

    transition: all 0.3s;
  }

  &__burger--active .main-nav__burger-line {
    background-color: transparent;

    transition-delay: 0.3s;
    transition: all 0.1s;
  }

  &__burger:hover {
    border: 1px solid var(--color-buttercup);

    transition: all 0.3s;
  }

  &__burger:hover .main-nav__burger-line {
    background-color: var(--color-buttercup);

    transition: all 0.3s;
  }

  &__burger:hover .main-nav__burger-line::before {
    background-color: var(--color-buttercup);

    transition: all 0.3s;
  }

  &__burger:hover .main-nav__burger-line::after {
    background-color: var(--color-buttercup);

    transition: all 0.3s;
  }

  &__burger--active:hover .main-nav__burger-line {
    background-color: transparent;
  }
}