@use "../mixins";

.section-title {
  font-size: 40px;
  line-height: 47px;
  font-weight: 700;
  color: var(--color-mine-shaft);

  @include mixins.respond-to(mobileOnly) {
    font-size: 25px;
    line-height: 130%;
  }

  @include mixins.respond-to(desktopXL) {
    white-space: nowrap;
  }
}