@use "../mixins";

.subject {
  margin-top: 110px;

  @include mixins.respond-to(mobileOnly) {
    margin-top: 60px;
  }

  &__container {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    &:nth-child(1) {
      margin-bottom: 100px;

      @include mixins.respond-to(mobileOnly) {
        margin-bottom: 40px;
      }

      & .subject__desc-block {
        order: 1;
        
        margin-right: 70px;

        @include mixins.respond-to(mobileOnly) {
          order: 2;

          margin: 20px 0 0 0;
        }
      }

      & .subject__media-block {
        order: 2;

        @include mixins.respond-to(mobileOnly) {
          order: 1;
        }
      }
    }

    &:nth-child(2) {
      align-items: center;

      margin-bottom: 140px;

      @include mixins.respond-to(mobileOnly) {
        margin-bottom: 40px;
      }

      & .subject__desc-block {
        margin-left: 50px;

        @include mixins.respond-to(mobileOnly) {
          margin: 20px 0 0 0;
        }
      }
    }

    &:nth-child(3) {
      & .subject__media-block {
        order: 2;

        @include mixins.respond-to(mobileOnly) {
          order: 1;
        }
      }

      & .subject__desc-block {
        order: 1;

        margin-right: 60px;

        @include mixins.respond-to(mobileOnly) {
          order: 2;

          margin: 20px 0 0 0;
        }
      }
    }
  }

  &__desc-title {
    margin-bottom: 15px;
  }

  &__desc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-mine-shaft);
  }

  &__media-block {
    border-radius: 20px;
  }

  &__media-img {
    max-width: 656px;
    object-fit: cover;
    border-radius: 20px;

    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);

      transition: all 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(desktopS) {
      width: 400px;
      height: auto;
    }

    @include mixins.respond-to(desktopM) {
      width: 656px;
      height: 329px;
    }
  }

  &__video-container {
    position: relative;

    display: block;

    overflow: hidden;
    user-select: none;
    border-radius: 20px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(desktopS) {
      width: 400px;
      height: auto;
    }

    @include mixins.respond-to(desktopM) {
      width: 656px;
      height: 430px;
    }

    &:hover .subject__graphic {
      transform: scale(1.1);

      transition: all 0.3s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__graphic {
    position: absolute;
    top: -120px;
    left: -120px;

    transition: 0.3s;

    @include mixins.respond-to(mobileOnly) {
      top: -50px;
      left: -50px;

      width: 150px;
      height: 150px;
    }
  }

  &__video-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}