@use "../mixins";

.subject {

  @include mixins.respond-to(mobileOnly) {
    margin: 60px 0 60px 0;
  }

  @include mixins.respond-to(tablet) {
    margin: 60px 0 60px 0;
  }

  @include mixins.respond-to(desktopM) {
    margin: 110px 0 90px 0;
  }

  &__container {
    display: grid;
    grid-template: repeat(3, auto) / 1fr;
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mixins.respond-to(mobileOnly) {
      flex-direction: column;
    }

    @include mixins.respond-to(tabletOnly) {
      flex-direction: column;
    }

    &:nth-child(1) {
      margin-bottom: 100px;

      @include mixins.respond-to(mobileOnly) {
        margin-bottom: 40px;
      }

      @include mixins.respond-to(tabletOnly) {
        margin-bottom: 40px;
      }

      & .subject__desc-block {
        order: 1;

        margin-right: 70px;

        @include mixins.respond-to(mobileOnly) {
          order: 2;

          margin: 20px 0 0 0;
        }

        @include mixins.respond-to(tabletOnly) {
          order: 2;

          margin: 20px 0 0 0;
        }
      }

      & .subject__media-block {
        order: 2;

        @include mixins.respond-to(mobileOnly) {
          order: 1;
        }

        @include mixins.respond-to(tabletOnly) {
          order: 1;
        }
      }
    }

    &:nth-child(2) {
      align-items: center;

      margin-bottom: 90px;

      @include mixins.respond-to(mobileOnly) {
        align-items: flex-start;

        margin-bottom: 40px;
      }

      @include mixins.respond-to(tabletOnly) {
        align-items: flex-start;

        margin-bottom: 40px;
      }

      & .subject__desc-block {
        margin-left: 50px;

        @include mixins.respond-to(mobileOnly) {
          margin: 20px 0 0 0;
        }

        @include mixins.respond-to(tabletOnly) {
          margin: 20px 0 0 0;
        }
      }
    }

    &:nth-child(3) {
      align-items: center;

      background-color: var(--color-vista-white);
      box-shadow: 0px 0px 42px rgba(0, 0, 0, 0.07);
      border-radius: 20px;

      padding: 42px 0 47px 53px;

      @include mixins.respond-to(mobileOnly) {
        padding: 10px 5px 10px 5px;
      }

      & .subject__media-block {
        order: 2;

        @include mixins.respond-to(mobileOnly) {
          order: 1;
        }

        @include mixins.respond-to(tabletOnly) {
          order: 1;
        }
      }

      & .subject__desc-block {
        order: 1;

        margin-right: 60px;

        @include mixins.respond-to(mobileOnly) {
          order: 2;

          margin: 20px 0 0 0;
        }

        @include mixins.respond-to(tabletOnly) {
          order: 2;

          margin: 20px 0 0 0;
        }
      }

      & .subject__desc-title {
        @include mixins.respond-to(desktopS) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__desc-title {
    margin-bottom: 15px;
  }

  &__desc-title--empty {
    display: none;
  }

  &__desc-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-mine-shaft);
  }

  &__media-block {
    border-radius: 20px;
  }

  &__media-img {
    max-width: 656px;
    object-fit: cover;
    border-radius: 20px;

    transition: 0.3s;

    &:hover {
      transform: translateY(-5px);

      transition: all 0.3s;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(desktopS) {
      width: 400px;
      height: auto;
    }

    @include mixins.respond-to(desktopM) {
      width: 656px;
      height: 329px;
    }
  }

  &__video-container {
    position: relative;

    display: block;

    overflow: hidden;
    user-select: none;
    border-radius: 20px;

    @include mixins.respond-to(mobileOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(tabletOnly) {
      width: 100%;
      height: auto;
    }

    @include mixins.respond-to(desktopS) {
      width: 400px;
      height: auto;
    }

    @include mixins.respond-to(desktopM) {
      width: 656px;
      height: 430px;
    }

    &:hover .subject__graphic {
      transform: scale(1.1);

      transition: all 0.3s;
    }

    &:focus-visible {
      outline: 5px solid var(--color-pomegranate);
      outline-offset: 5px;

      transition: all 0.1s;
    }
  }

  &__graphic {
    position: absolute;
    top: 5px;
    left: 5px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: var(--color-white);

    @include mixins.respond-to(mobileOnly) {
      top: 50%;
      left: 50%;

      width: 50px;
      height: 50px;

      transform: translateX(-50%) translateY(-50%);
    }
  }

  &__graphic-icon {
    fill: var(--color-buttercup);

    @include mixins.respond-to(mobileOnly) {
      width: 20px;
      height: 20px;
    }
  }

  @keyframes pulse {
    0% {
      transform: scale(0.5, 0.5);
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      transform: scale(3, 3);
      opacity: 0;
    }
  }

  &__graphic-pulsing {
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 350px;
    height: 350px;

    margin: auto;

    @include mixins.respond-to(mobileOnly) {
      width: 95px;
      height: 95px;
    }
  }

  &__pulsing-ring {
    position: absolute;

    width: 132px;
    height: 132px;
    border: 1px solid var(--color-white);
    border-radius: 50%;
    opacity: 0;

    -webkit-animation: pulse 3000ms ease-out infinite;
    animation: pulse 3000ms ease-out infinite;

    &:nth-of-type(2) {
      animation-delay: 600ms;
    }

    &:nth-of-type(3) {
      animation-delay: 1200ms;
    }

    @include mixins.respond-to(mobileOnly) {
      width: 50%;
      height: 50%;
    }
  }

  &__video-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}