<header class="page-header">
  <nav class="main-nav">
    <div class="main-nav__container base-container">
      <figure class="main-nav__logo-block base-figure">
        <img class="main-nav__logo-img" src="img/image/design/logo.svg" width="114" height="47" alt="Логотип">
      </figure>
      <div class="main-nav__mobile-menu" id="nav-mobile-menu">
        <div class="main-nav__mobile-inner">
          <ul class="main-nav__nav-list base-list">
            <li class="main-nav__nav-item"><a class="main-nav__nav-link base-link" href="#">О компании</a></li>
            <li class="main-nav__nav-item"><a class="main-nav__nav-link base-link" href="#">Инжиниринговые услуги</a>
            </li>
            <li class="main-nav__nav-item"><a class="main-nav__nav-link base-link" href="#">Консалтинговые услуги</a>
            </li>
            <li class="main-nav__nav-item"><a class="main-nav__nav-link base-link" href="#">Готовые документы</a></li>
            <li class="main-nav__nav-item"><a class="main-nav__nav-link base-link" href="#">Контакты</a></li>
          </ul>
          <a class="main-nav__tel-link base-link" href="tel:+79163899399">
            <svg class="main-nav__tel-icon" width="15" height="15" alt="">
              <use href="img/icon/sprite.svg#tel-icon"></use>
            </svg>
            <span class="main-nav__tel-text">+7 916 389 93 99</span>
          </a>
        </div>
      </div>
      <button class="main-nav__burger base-button" type="button" id="nav-burger">
        <span class="main-nav__burger-line"></span>
      </button>
    </div>
  </nav>
  <section class="main-heading">
    <div class="main-heading__container base-container">
      <div class="main-heading__overlay"></div>
      <div class="main-heading__page-info">
        <div class="main-heading__breadcrumbs">
          <a class="main-heading__main-page main-heading__breadcrumbs-link base-link" href="#">Главная</a><span> — </span>
          <a class="main-heading__current-page main-heading__breadcrumbs-link base-link" href="#">@@current-page</a>
        </div>
        <h1 class="main-heading__page-title base-title">@@current-page</h1>
      </div>
      <div class="features">
        <div class="features__item">
          <div class="features__graphic">
            <div class="features__graphic-line"></div>
            <div class="features__graphic-line"></div>
          </div>
          <div class="features__item-info">
            <span class="features__item-title">12 лет</span>
            <span class="features__item-desc">в сфере управления<br> проектами</span>
          </div>
        </div>
        <div class="features__item">
          <div class="features__graphic">
            <div class="features__graphic-line"></div>
            <div class="features__graphic-line"></div>
          </div>
          <div class="features__item-info">
            <span class="features__item-title">30 +</span>
            <span class="features__item-desc">реализованных<br> проектов</span>
          </div>
        </div>
        <div class="features__item">
          <div class="features__graphic">
            <div class="features__graphic-line"></div>
            <div class="features__graphic-line"></div>
          </div>
          <div class="features__item-info">
            <span class="features__item-title">до 40%</span>
            <span class="features__item-desc">экономия времени<br> клиента</span>
          </div>
        </div>
        <div class="features__item">
          <div class="features__graphic">
            <div class="features__graphic-line"></div>
            <div class="features__graphic-line"></div>
          </div>
          <div class="features__item-info">
            <span class="features__item-title">975</span>
            <span class="features__item-desc">обращений к нам за<br> консультацией</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>