:root {
	// Цвета
	--color-mine-shaft: #2c2c2c;
	--color-tundora: #414141;
	--color-buttercup: #f6bb1a;
	--color-corn-harvest: #93700f;
	--color-marigold-yellow: #f9d675;
	--color-dove-gray: #666666;
	--color-gray: #939393;
	--color-mako: #414653;
	--color-alto: #dddddd;
	--color-vista-white: #fbf8f6;
	--color-emperor: #4f4f4f;
	--color-mercury: #e5e5e5;
	--color-pomegranate: #f64d1a;
	--color-tuatara: #302f2b;
	--color-white: #ffffff;
	--color-black: #000000;

	// Шрифты
	--font-family-default: "Circe", system-ui, sans-serif;
}