:root {
	// Цвета
	--color-mine-shaft: #2c2c2c;
	--color-tundora: #414141;
	--color-buttercup: #f6bb1a;
	--color-corn-harvest: #93700f;
	--color-marigold-yellow: #f9d675;
	--color-dove-gray: #666666;
	--color-mako: #414653;
	--color-alto: #dddddd;
	--color-white: #ffffff;
	--color-black: #000000;

	// Шрифты
	--font-family-default: "Circe", system-ui, sans-serif;
}